.timer {
    text-align: right;
}

.start-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
}

.title-box {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.quiz-box {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
    flex-wrap: wrap;
}

.question-box, .opt-btn-box {
    display: flex;
    width: 70%;
}


.title, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul.opt-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.start-btn, .option-btns {
    background-color: #bdb2ff;
    color: white;
    font-size: 2.3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border-color: #bdb2ff;
    margin: 3px;
}

.start-btn:hover, .option-btns:hover {
    opacity: 0.5;
}

#result {
    font-size: 2.5vh;
    color: grey;
    font-style: italic;
    padding: 0 0 0 10px;
    margin-top: 10px;
    margin-left: 40%;
    display: flex;
    width: 50%;
}

.input-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-input {
    margin-left: 10px;
    height: 20px;
    border: solid #610b61;
}

.submit-btn {
    margin-left: 10px;
    background-color: #bdb2ff;
    color: white;
    font-size: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border-color: #bdb2ff;
}